*.o
*.d

/bin/
/build/
.vscode/

/data/saved_models/

/data/stripes/
/data/results/
/data/squares/
/data/cp_dataset/
/data/cp_dataset.txt
/data/cp_dataset_train.txt
/data/cp_dataset_test.txt

tmp/
.DS_Store
nohup.out
